let mapleader="\<space>"
nnoremap <leader>; A; <ESC>
nnoremap <leader>: A:
nnoremap <leader>=> A =>
nnoremap <leader>, A,<ESC>
nnoremap <leader>{ A{<ESC>
nnoremap <leader>) A)<ESC>

set visualbell
set relativenumber
set incsearch
set hlsearch
set ignorecase
set mouse=a

" set clipboard=unnamedplus

" let @a=ggyG
